

#Annoying windows stuff
*.vcxproj
*.opendb
ZERO_CHECK
*.sdf
*.sln
*.filters
BlockSnake.dir

#compiled c++ stuff
*.o
BlockSnake
/build

#apple specifics
*.DS_STORE

#annoying cmake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
